input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
  box-sizing: border-box;
  --purple:#7d3780;
  --dark-purple:#4a2c40;
  --yellow:#e9bd43;
}

body{
 color: var(--yellow);
}

h1{
  text-align: center;
  color: var(--dark-purple);
}

.page{
  text-align: center;
}

input{
  margin: 10px;
}

button{
  cursor: pointer;
}

.options:active{
  background-color: #e9bd43;
}

.intro {
  font-size: 32px;
}

.main{
  padding: 20px;
}

label{
  margin: 20px;
  padding: 20px;
}

input{
  border: none;
  border-bottom: 1px solid var(--purple);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
}

input:focus{
  outline: none;
  text-align: center;
  box-shadow: 0px 1px var(--purple);
}


.btn{
  margin:30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.btn:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--purple);
  transform: translateY(-0.25em);
}

.btn:active{
  box-shadow: none;
  transform: translateY(0.25em);
}

.output{
  margin: 10px auto;
  padding: 30px;
  font-size: 24px;
  color: var(--purple);
 

}

.score{
  color: var(--purple);
  font-size: 24px;
  font-weight: bold;

}